.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    button {
        background-color: #e0e0e0;
        border: none;
        padding: 10px 15px;
        margin: 0 10px;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
        transition: all 0.2s ease-in-out;

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
            box-shadow: inset 9px 9px 16px rgb(163,177,198,0.6), inset -9px -9px 16px    rgba(255,255,255, 0.5);
        }

        &:active {
            box-shadow: inset 9px 9px 16px rgb(163,177,198,0.6), inset -9px -9px 16px    rgba(255,255,255, 0.5);
        }
    }

    span {
        margin: 0 10px;
        font-size: 1.2rem;
        color: #333;
    }
}
