.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pokemon-container-lista {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
