.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container-info_pokemon {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e0e0e0;
}
.info-container {
  display: flex;
  width: 60%;
  height: 50%;
  border-radius: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
}

img.info-image {
  padding: 0.5rem;
  height: 45%;
  aspect-ratio: 1;
  border-radius: 30%;
  background: #e0e0e0;
  box-shadow: inset 9px 9px 16px rgb(163,177,198,0.6), inset -9px -9px 16px    rgba(255,255,255, 0.5);
}

.container-left_pokemon_info {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  font-family: monospace;
  color: white;
  text-shadow: 1px 1px 2px #000000;
}

.container-left_pokemon_info h1 {
  font-size: 2rem;
  text-align: center;
}

.container-left_pokemon_info h2 {
  font-size: 1.5rem;
  text-align: center;
}

.container-left_pokemon_info h3{
  font-size: 1rem;
}

.container-right-info {
  display: flex;
  width: 60%;
  justify-content: space-around;
  margin-top: 20px;
}

.info-item {
  padding: 15px;
  border-radius: 15px;
  background-color: #e0e0e0;
  box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
  text-align: center;
  h4 {
    margin-bottom: 10px;
  }
  p {
    margin: 5px 0;
  }
}

.button {
  padding: 15px 20px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #333;
  z-index: 1;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
  transition: all 0.2s ease-in-out;

  &:active {
    box-shadow: inset 9px 9px 16px rgb(163,177,198,0.6), inset -9px -9px 16px    rgba(255,255,255, 0.5);
  }
}